@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    color: var(--text-color);
}
:root
{
--primary-color: #131842;
--secondary-color: #E68369;
--text-color: #000000;
--extra-color: #ECCEAE;
--transition: all 0.3s ease-in-out;
}
body{
    background: var(--primary-color);
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 35px;
    font-weight: 700;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18x;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease .3s;
}
.btn:hover{
    background: #222;
    color: #fff;
}
#nextBtn{
    color: #fff;
    background: #000;
    margin: 20px auto 0;
    font-weight: 500;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    display: block;
    display: none;
}